<%- include("templates/header") %>
<body style="background-color: #191923;">
<div class="container" style="color: #fbfef9;">
    <h1 class="my-4">About LegallyWise</h1>
    <p class="lead">
        At LegallyWise, we believe that understanding the law should be simple and accessible to all. 
        Our team has developed an AI-powered online lawbook app, tailored to assist individuals, small 
        businesses, and legal professionals. With our application, you can swiftly navigate through 
        legal issues, receiving personalized results drawn from an ever-improving database of laws and 
        policies. Our mission is to demystify the law, ensuring your rights are always a click away.
    </p>
        <h2 class="my-4">Disclaimer</h2>
    <p class="lead">
        LegallyWise is designed to provide general information about the law and does not constitute legal advice. 
        We go to great lengths to ensure the information provided is accurate, but we cannot guarantee the correctness 
        or completeness of the information found on our platform. For any specific legal concerns, we strongly 
        recommend consulting with a qualified legal professional. Remember, LegallyWise is a helpful resource, but it 
        is not a substitute for legal counsel.
    </p>

    <h2 class="my-4">Our Team</h2>
    <div class="row">

        <!-- Abhishek -->
        <div class="col-lg-3 col-md-6 mb-4 text-center">
            <div class="card h-100" style="background-color: #191923;">
                <!-- <img src="img/team1.jpg" alt="team member 1" class="card-img-top"> -->
                <div class="card-body">
                    <h4 class="card-title">Abhishek Chouhan</h4>
                    <p class="card-text">As a lead programmer, Abhishek has brought his many years of experience
                        to the project. He is excited to be apart of the team and has worked closely with the API and AI. 
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/abhishekslink" class="btn" style="background-color: #a31621; color: #fbfef9;"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    <a href="https://github.com/abhishekchouhannk" class="btn btn-secondary ml-2"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>

        <!-- Gurtej -->
        <div class="col-lg-3 col-md-6 mb-4 text-center">
            <div class="card h-100" style="background-color: #191923;">
                <!-- <img src="img/team2.jpg" alt="team member 2" class="card-img-top"> -->
                <div class="card-body">
                    <h4 class="card-title">Gurtej Malik</h4>
                    <p class="card-text">Gurtej is our backend developer and server handler. With an unyielding commitment to excellence, 
                        he ensures that our servers are always performing optimally, providing a seamless experience for our users. Gurtej's 
                        dedication to his craft is the backbone of our reliable and robust application.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/gurtejslink" class="btn" style="background-color: #a31621; color: #fbfef9;"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    <a href="https://github.com/gurtejx" class="btn btn-secondary ml-2"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>


         <!-- Amrit -->
         <div class="col-lg-3 col-md-6 mb-4 text-center">
            <div class="card h-100" style="background-color: #191923;">
                <!-- <img src="img/team3.jpg" alt="team member 3" class="card-img-top"> -->
                <div class="card-body">
                    <h4 class="card-title">Amrit Singh</h4>
                    <p class="card-text">Amrit is a backend developer, specializing in MongoDB database handling. 
                        His interest in data management and his expertise in organizing vast amounts of information 
                        make our app accurate and up-to-date. Amrit's tireless work behind the scenes is key to our 
                        ability to provide personalized and precise legal information.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/amritslink" class="btn" style="background-color: #a31621; color: #fbfef9;"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    <a href="https://github.com/amritjhatu" class="btn btn-secondary ml-2"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>

         <!-- Armaan -->
         <div class="col-lg-3 col-md-6 mb-4 text-center">
            <div class="card h-100" style="background-color: #191923;">
                <!-- <img src="img/team4.jpg" alt="team member 4" class="card-img-top"> -->
                <div class="card-body" >
                    <h4 class="card-title">Armaan Pruthi</h4>
                    <p class="card-text">Armaan is the UI/UX developer for LegallyWise. His creative insights and attention
                         to detail are evident in the intuitive and user-friendly interface of our app. Armaan's unwavering 
                         enthusiasm for design aids in creating an enjoyable and efficient user experience.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://www.linkedin.com/in/armaanslink" class="btn" style="background-color: #a31621; color: #fbfef9;"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    <a href="https://github.com/armaanp4" class="btn btn-secondary ml-2"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<%- include("templates/footer") %>
