<%- include("templates/header") %> 
<div>
    <h2>Welcome to the contact page. </h2>
<br>
Please use the contact information for any questions you may have.
<br>
<br>
<h3>BC Supreme Court:</h3>
<br>
#: 250-426-1234
<br>
Email: sc.scheduling_ka@bccourts.ca
<br>
<h3>Supreme Court of Canada:</h3>
<br>
#: 1-888-551-1185
<br>
Email: reception@scc-csc.ca
<br>
<form action="/">
<button type="submit">Return Home</button>
</form>
</div>
<%- include("templates/footer") %> 