<%- include("templates/header") %>
<body style="background-color: #191923;"> 
<div class="container my-5" style="color: #fbfef9;">
    <h2 class="text-center">Welcome to the contact page.</h2>
    <p class="lead text-center">Please use the contact information for any questions you may have.</p>
  
    <div class="row mt-5 justify-content-center">
      <div class="col-md-6" style="color: #fbfef9;">
        <h3>BC Supreme Court:</h3>
        <p><strong>#:</strong> 250-426-1234</p>
        <p><strong>Email:</strong> <a href="mailto:sc.scheduling_ka@bccourts.ca" class="text-primary">sc.scheduling_ka@bccourts.ca</a></p>
      </div>
  
      <div class="col-md-6" style="color: #fbfef9;">
        <h3>Supreme Court of Canada:</h3>
        <p><strong>#:</strong> 1-888-551-1185</p>
        <p><strong>Email:</strong> <a href="mailto:reception@scc-csc.ca" class="text-primary">reception@scc-csc.ca</a></p>
      </div>
    </div>
  
    <div class="text-center mt-5">
      <form action="/">
        <button type="submit" class="btn" style="background-color: #a31621; color: #fbfef9;">Return Home</button>
      </form>
    </div>
</div>
</body>
  
  
<%- include("templates/footer") %> 