<%- include("templates/header") %>
<div class="alert alert-primary mt-3"  style="padding: 15px; width: 400px; margin: 0 auto;">
    <h3 style=" text-align: center;">Enter your username</h3>
    <form action='/resetPassword' method='post' style="display: flex; flex-direction: column;">
        <!-- <label for="username">Enter your username:</label><br> -->
        <input name='username' type='text' placeholder='Username' class="p-2 mb-2">
        <button class="btn btn-primary" style=" color: #fff; padding: 10px;">Submit</button>
    </form>
    
    <!-- if errorVariable = true, display error message -->
    <% if (req.query.blank) { %>
        <p style="color: red;">Username cannot be blank. Please try again.</p>
    <% } %>

    <% if (req.query.invalid) { %>
        <p style="color: red;">Username cannot be blank. Please try again.</p>
    <% } %>

    <% if (req.query.incorrect) { %>
        <p style="color: red;">Username not in record. Sign up please.</p>
        <button class="btn btn-primary"><a href="/signUp"  style="color: #fff; text-decoration: none;">Sign Up</a></button>
    <% } %>
  </div>

<%- include("templates/footer") %>