<%- include("templates/header") %>
<style>
    body{
        background-color: #191923;
    }
</style>

<div class="mt-5">
    <div class="alert"  style="padding: 15px; width: 350px; margin: 0 auto; background-color: #191923; border: none;">
        <h2 style=" text-align: center; color: #fbfef9;">Log In</h2>
        <form action='/loggingin' method='post' style="display: flex; flex-direction: column;">
        <input name='username' type='text' placeholder='Username' class="p-2 mb-2">
        <input name='password' type='password' placeholder='Password' class="p-2 mb-2">
        <button class="btn" style=" color: #fbfef9; padding: 10px; background-color: #a31621;">Submit</button>
        <br>
        <a href="/forgotPassword">Forgot username/password ?</a>
        </form>
        
        <!-- if errorVariable = true, display error message -->
        <% if (req.query.blank) { %>
            <p style="color: red;">Fields cannot be blank. Please try again.</p>
        <% } %>
    
        <% if (req.query.invalid) { %>
            <p style="color: red;">Fields cannot be blank. Please try again.</p>
        <% } %>
    
        <% if (req.query.incorrect) { %>
            <p style="color: red;">Username not in record. Sign up please.</p>
            <button class="btn btn-primary"><a href="/signUp"  style="color: #fff; text-decoration: none;">Sign Up</a></button>
            <br>
        <% } %>

        <% if (req.query.incorrectPass) { %>
            <p style="color: red;">Incorrect password. Please try again.</p>
        <% } %>
    
        <% if (req.query.notLoggedIn) { %>
            <p style="color: red;">Login to access this Page.</p>
        <% } %>
        <button class="btn mt-3" style="background-color: #a31621; color: #fbfef9;"><a href="/"  style="color: #fff; text-decoration: none;">Back</a></button>
      </div>
</div>

<%- include("templates/footer") %>