<%- include("templates/header") %>


  <link rel="stylesheet" href="/public/css/main.css">


  <!-- Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center my-5">Welcome to LegallyWise AI!</h1>
        <form>
          <input id="question-input" type="text" class="form-control" placeholder="Enter your legal question">
          <button type="submit" class="btn btn-primary d-block mx-auto">Ask a Question</button>
        </form>
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <div id="answer" class="my-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("templates/footer") %>