<%- include("templates/header") %>
<body style="background-color: #191923;">
<head>
  <title>Profile</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg"  style="border-color: #a31621;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4 text-primary">User Profile</h5>
        <div class="mb-3">
          <strong class="text-primary">Name:</strong> <span id="name"></span>
        </div>
        <div class="mb-3">
          <strong class="text-primary">Username:</strong> <span id="username"></span>
        </div>
        <div class="mb-3">
          <strong class="text-primary">Email:</strong> <span id="email"></span>
        </div>
        <div class="mb-3">
          <strong class="text-primary">Profession:</strong> <span id="profession"></span>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      async function fetchProfile() {
        try {
          const response = await fetch('/fetchProfile');
          const data = await response.json();
          $('#name').text(data.user.name);
          $('#username').text(data.user.username);
          $('#email').text(data.user.email);
          $('#profession').text(data.user.profession);
        } catch (err) {
          console.error(err);
        }
      }
      fetchProfile();
    });
  </script>
</body>
<%- include("templates/footer") %>
