<%- include("templates/header") %>

    <h3 style=" text-align: center;">Enter new password</h3>
    <form action='/updatePassword' method='post' style="display: flex; flex-direction: column;">
        <label for="password">New password:</label><br>
        <input name='password' type='text' placeholder='New Password' class="p-2 mb-2">
        <label for="password2">Re-enter new password:</label><br>
        <input name='password2' type='text' placeholder='New Password' class="p-2 mb-2">
        <button class="btn btn-primary" style=" color: #fff; padding: 10px;">Submit</button>
    </form>

    <!-- if errorVariable = true, display error message -->
    <% if (req.query.blank) { %>
        <p style="color: red;">Answer cannot be blank. Please try again.</p>
    <% } %>

    <% if (req.query.invalid) { %>
        <p style="color: red;">Invalid password. Please try again.</p>
    <% } %>

    <% if (req.query.unmatched) { %>
        <p style="color: red;">Passwords don't match. Please try again.</p>
    <% } %>

<%- include("templates/footer") %>