<%- include("templates/header") %>
<body style="background-color: #191923; color: #fbfef9;">

<h2  style="margin-top: 10%; margin-left: 15px;" class="text-center">User logged out successfully!</h2>
<div style="text-align: center; margin-top: 5%;">
  <form action="/">
    <button type="submit" class="btn" style="background-color: #a31621; color: #fbfef9;">Homepage</button>
  </form>
</div>



</body>
<%- include("templates/footer") %>
