<%- include("templates/header") %>

<h2  style="margin-top: 15px; margin-left: 15px;">User logged out successfully!</h2>
<div style="text-align: center;">
  <form action="/">
    <button type="submit" class="btn btn-primary">Homepage</button>
  </form>
</div>

<%- include("templates/footer") %>