<%- include("templates/header") %>

<h2  style="margin-top: 10%; margin-left: 15px;" class="text-center">User logged out successfully!</h2>
<div style="text-align: center; margin-top: 5%;">
  <form action="/">
    <button type="submit" class="btn btn-primary">Homepage</button>
  </form>
</div>

<%- include("templates/footer") %>