<footer class="fixed-bottom footer-expand-sm" style="background-color: #191923; color: #fbfef9;">
    <div class="text-end">
        <a href="mailto:legallywise.bby31@gmail.com">
            <img src="/img/mail-icon.png" alt="Email" height="40" width="40" />
        </a>
        <a href="https://github.com/gurtejx/2800-202310-BBY31">
            <img src="/img/git.png" alt="GitHub" height="40" width="40" />
        </a>
    </div>
</footer>

</body>

</html>